:root{
    --ancho: 16;
    --largo:16;
    --color:white ;
}
body{
    background-color: rgba(255, 42, 0, 0.838);
}
.grid{
    transition: opacity 2s ease 0.4s, 0.8s ease;
    transform: scale(1);
    background-color:white;
}
.grid:hover{
    background-color: rgb(36, 30, 30);
  transition: opacity 0.2s ease;
  transform: scale(1.04);
}
.boton {
    height: 50px;
    background-color: rgb(0, 166, 255);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#container{
    width: 500px;
    height: 350px;
    display:inline-grid;
    grid-template-columns: repeat(var(--ancho),1fr);
    grid-template-rows: repeat(var(--largo),1fr);
    border: 5px;
    border-style: solid;
    border-color: yellow;
}
.logodiv{
    display: flex;
    justify-content: center;
}
.logo{
    width: 250px;
    height: auto;
}
.content{
    display: grid;
    justify-content: center;
    justify-items: center;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.838);
    text-align: center;
    font-size: 18px;
}
