:root{
    --ancho: 16;
    --largo:16;
    --color:white ;
}
body{
    background-color: #77dd77 ;
}
.grid{
    transition: opacity 2s ease 0.4s, 0.8s ease;
    transform: scale(1);
    background-color:white;
}
.grid:hover{
    background-color: rgb(36, 30, 30);
  transition: opacity 0.2s ease;
  transform: scale(1.04);
}
.boton {
    background-color: rgb(0, 166, 255);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    justify-content: center;
}
#container{
    width: 500px;
    height: 500px;
    display:inline-grid;
    grid-template-columns: repeat(var(--ancho),1fr);
    grid-template-rows: repeat(var(--largo),1fr);
    border: 5px;
    border-style: solid;
    border-color: yellow;
}